<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<title th:text="#{index.title}"></title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    	<th:block th:insert="header"/>
    	<div class="container">
    		<section>
	    		<h1 class="mt-4" th:text="#{myaccount}"></h1>
	    		<ul class="nav nav-pills py-3">
				 	<li class="nav-item">
				    	<a class="nav-link active" th:href="@{/account}" th:text="#{account}"></a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" th:href="@{/account/ads}" th:text="#{ads}"></a>
				  	</li>
				</ul>
			</section>
			<section>
				<div class="shadow p-3 mb-5 bg-white rounded">
					<h3 th:text="#{yourInfo}"></h3>
					<p class="text-muted" th:text="#{yourInfo}"></p>
					<div th:if="${infoSaved}" class="alert alert-success" role="alert" th:text="#{infoSaved}"></div>
					<form th:action="@{/account}" th:object="${traderDetails}" method="post">
						<div class="form-row">
		    				<div class="col-3">
				    			<div class="form-group">
								    <label for="firstName" th:text="#{firstName}"></label>
								    <input id="firstName" class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" type="text" th:field="*{firstName}"/>
									<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></div>
							  	</div>
						  	</div>
						  	<div class="col-3">
						  		<div class="form-group">
								    <label for="lastName" th:text="#{lastName}"></label>
								    <input id="lastName" class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" type="text" th:field="*{lastName}"/>
									<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></div>
							  	</div>
						  	</div>
					  	</div>
					  	<fieldset>
					  		<legend>Στοιχεία Επικοινωνίας</legend>
						  	<div class="form-row">
						  		<div class="col-3">
						  			<div class="form-group">
									    <label for="country" th:text="#{country}"></label>
									    <input id="country" class="form-control" th:classappend="${#fields.hasErrors('country')} ? 'is-invalid'" type="text" th:field="*{country}"/>
										<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="invalid-feedback"></div>
								  	</div>
						  		</div>
						  		<div class="col-3">
						  			<div class="form-group">
									    <label for="address" th:text="#{address}"></label>
									    <input id="address" class="form-control" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" type="text" th:field="*{address}"/>
										<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
								  	</div>
						  		</div>
						  	</div>
						  	<div class="form-row">
						  		<div class="col-3">
						  			<div class="form-group">
						  				<label for="telephones" th:text="#{contactTelephones}"></label>
						  				<button id="add" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
						  				<div id="tel-fields">
							  				<th:block th:if="*{telephones.isEmpty()}">
							  					<input id="telephones" class="form-control" th:classappend="${#fields.hasErrors('telephones')} ? 'is-invalid'" type="text" th:field="*{telephones}">
							  					<div th:if="${#fields.hasErrors('telephones')}" th:errors="*{telephones}" class="invalid-feedback"></div>
							  				</th:block>
							  				<div th:if="*{not telephones.isEmpty()}" class="input-group mb-2" th:each="telephone, iter: *{telephones}" th:id="'telephone-' + ${iter.index}">
							  					<input id="telephones" class="form-control" th:classappend="${#fields.hasErrors('telephones[__${iter.index}__]')} ? 'is-invalid'" type="text" th:field="*{telephones[__${iter.index}__]}">
							  					<div class="input-group-append" th:if="${iter.index} > 0">
												    <button id="remove" class="btn btn-default" type="button" th:attr="data-telephoneindex=${iter.index}" th:onclick="remove()"><i class="fa fa-minus"></i></button>
												</div>
												<div th:if="${#fields.hasErrors('telephones[__${iter.index}__]')}" th:errors="*{telephones[__${iter.index}__]}" class="invalid-feedback"></div>
							  				</div>						  				
							  				<script th:inline="javascript">
						  						var index = /*[[*{telephones.size()}]]*/ 0;
						  						$('#add').on('click', () => {
						  							$('#tel-fields').append(createInput());
						  						});

						  						function remove() {
						  							let currentIndex = $('#remove').data('telephoneindex');
						  							console.log(currentIndex);
						  							$('#telephone-' + currentIndex).remove();
						  						}

						  						function createInput() {
							  						let inputGroup = $('<div id="telephone-'+index+'" class="input-group mb-2">');
							  						let input = $('<input id="telephones" class="form-control" type="text" name="telephones['+index+']">');
							  						let inputGroupAppend = $('<div class="input-group-append">');
							  						let deleteButton = $('<button id="remove" class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>');
							  						deleteButton.on('click', () => {
							  							inputGroup.remove();
							  						});

							  						inputGroup.append(input);
							  						inputGroupAppend.append(deleteButton);
							  						inputGroup.append(inputGroupAppend);
							  						index++;
							  						return inputGroup;
						  						}
							  				</script>
						  				</div>
						  				<small id="telephoneVerification" class="form-text text-muted">
						  					We'll send you a SMS to verify your telephone(s).
						  				</small>
						  			</div>
						  		</div>
						  	</div>
					  	</fieldset>
					  	<button class="btn btn-primary" type="submit" th:text="#{saveChanges}"></button>
					</form>
				</div>
				<div class="shadow p-3 mb-5 bg-white rounded">
					<a class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteAccount">Delete</a>
					<div id="deleteAccount" class="modal" tabindex="-1" role="dialog">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
							        <h5 class="modal-title">Delete Account</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
						      	</div>
						      	<div class="modal-body">
						        	<p>Are you sure?</p>
						      	</div>
						      	<div class="modal-footer">
						      		<form th:action="@{/account/delete}" method="post">
						        		<button type="submit" class="btn btn-danger">Delete</button>
						        	</form>
						        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      	</div>
						    </div>
					  	</div>
					</div>
				</div>
			</section>			
    	</div>
    	<th:block th:insert="footer"/>
	</body>
</html>