<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/cars.css}">
		<title>Μεταχειρισμένα & Καινούρια Αυτοκίνητα - CarTrader.gr</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    	<script th:src="@{/js/index.js}"></script>
    	<script th:src="@{/js/filters.js}"></script>
		<th:block th:insert="header"/>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-3">
					<form id="criteria">
						<button id="search" class="btn btn-primary mb-2">Αναζήτησε</button>
						<input id="page" type="hidden" name="page" value="0"/>

						<div class="card">
							<a data-toggle="collapse" href="#conditionBody" aria-expanded="false" aria-controls="conditionBody">
								<div class="card-header">Κατάσταση</div>
							</a>
							<div id="conditionBody" class="collapse show">
								<div class="card-body">
									<div class="form-check">
										<input id="new" name="condition" value="NEW" class="form-check-input" type="checkbox" th:checked="${criteria.conditions.contains(T(com.github.cartrader.entity.CarCondition).NEW)}"/>
										<label class="form-check-label">Καινούριο</label>
									</div>
									<div class="form-check">
										<input id="used" name="condition" value="USED" class="form-check-input" type="checkbox"/>
										<label class="form-check-label">Μεταχειρισμένο</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#type" aria-expanded="false" aria-controls="type">
									Τύπος αγγελίας
								</a>
							</div>
							<div id="type" class="collapse show">
								<div class="card-body">
									<div class="form-check">
										<input id="rent" name="purpose" type="checkbox" value="RENT" class="form-check-input"/>
										<label class="form-check-label">Ενοικιάζεται</label>
									</div>
									<div class="form-check">
										<input id="buy" name="purpose" type="checkbox" value="BUY" class="form-check-input"/>
										<label class="form-check-label">Ζητείται</label>
									</div>
									<div class="form-check">
										<input id="sell" name="purpose" type="checkbox" value="SELL" class="form-check-input"/>
										<label class="form-check-label">Πωλείται</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#makeCollapse" aria-expanded="false" aria-controls="makeCollapse">
									Μάρκα
								</a>
							</div>
							<div id="makeCollapse" class="collapse show">
								<div class="card-body">
									<script>
										fillMakes();
									</script>
									<div class="form-row">
									    <label for="make">Μάρκα</label>
									    <select id="make" name="make" class="form-control">
									        <option disabled selected>Οποιαδήποτε</option>
									    </select>
									</div>
									<div class="form-row">
									    <label for="model">Μοντέλο</label>
									    <select id="model" class="form-control">
									       	<option selected>Οποιοδήποτε</option>
									    </select>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#categoryCollapse" aria-expanded="false" aria-controls="categoryCollapse">
									Κατηγορία
								</a>
							</div>
							<div id="categoryCollapse" class="collapse show">
								<div class="card-body">
									<script>
										$(() => {
											$.ajax({
												url: "/categories",
												success: (categories) => {
													categories.forEach((category) => {
														let input = $('<div class="form-check"><input name="category" type="checkbox" value="'+ category.id +'" class="form-check-input"/><label class="form-check-label"><img class="img-fluid" width="25" height="25" src="' + category.picturePath + '"/> ' + category.title + '</label></div>');
														$('#categoryCollapse').find('.card-body').append(input);
													});
												}
											});
										});
									</script>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#priceCollapse" aria-expanded="false" aria-controls="priceCollapse">
									Τιμή
								</a>
							</div>
							<div id="priceCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#kmCollapse" aria-expanded="false" aria-controls="kmCollapse">
									Χιλιόμετρα
								</a>
							</div>
							<div id="kmCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#fuelCollapse" aria-expanded="false" aria-controls="fuelCollapse">
									Καύσιμο
								</a>
							</div>
							<div id="fuelCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#ccCollapse" aria-expanded="false" aria-controls="ccCollapse">
									Κυβικά
								</a>
							</div>
							<div id="ccCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#yearCollapse" aria-expanded="false" aria-controls="yearCollapse">
									Έτος
								</a>
							</div>
							<div id="yearCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#drivetrainCollapse" aria-expanded="false" aria-controls="drivetrainCollapse">
									Κίνηση
								</a>
							</div>
							<div id="drivetrainCollapse" class="collapse">
								<div class="card-body">
									<div class="form-check">
										<input id="fwd" name="drivetrain" type="checkbox" value="fwd" class="form-check-input"/>
										<label class="form-check-label">FWD</label>
									</div>
									<div class="form-check">
										<input id="rwd" name="drivetrain" type="checkbox" value="rwd" class="form-check-input"/>
										<label class="form-check-label">RWD</label>
									</div>
									<div class="form-check">
										<input id="awd" name="drivetrain" type="checkbox" value="awd" class="form-check-input"/>
										<label class="form-check-label">AWD</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#transmitionCollapse" aria-expanded="false" aria-controls="transmitionCollapse">
									Σασμάν
								</a>
							</div>
							<div id="transmitionCollapse" class="collapse">
								<div class="card-body">
									<div class="form-check">
										<input id="auto" name="transmition" type="checkbox" value="auto" class="form-check-input"/>
										<label class="form-check-label">Αυτόματο</label>
									</div>
									<div class="form-check">
										<input id="semiauto" name="transmition" type="checkbox" value="semiauto" class="form-check-input"/>
										<label class="form-check-label">Ημιαυτόματο</label>
									</div>
									<div class="form-check">
										<input id="manual" name="transmition" type="checkbox" value="manual" class="form-check-input"/>
										<label class="form-check-label">Χειροκίνητο</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#colorCollapse" aria-expanded="false" aria-controls="colorCollapse">
									Χρώμα
								</a>
							</div>
							<div id="colorCollapse" class="collapse">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#doorsCollapse" aria-expanded="false" aria-controls="doorsCollapse">
									Πόρτες
								</a>
							</div>
							<div id="doorsCollapse" class="collapse">
								<div class="card-body">
									<div class="form-check">
									  	<input class="form-check-input" type="radio" checked>
									  	<label class="form-check-label" for="doors">
									    	Όλα
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="doors" value="2doors">
									  	<label class="form-check-label" for="doors">
									    	2Θύρο - 3θύρο
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="doors" value="4doors">
									  	<label class="form-check-label" for="doors">
									    	4Θύρο - 5θύρο
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="doors" value="6doors">
									  	<label class="form-check-label" for="doors">
									    	6Θύρο - 7θύρο
									  	</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#sitsCollapse" aria-expanded="false" aria-controls="sitsCollapse">
									Καθίσματα
								</a>
							</div>
							<div id="sitsCollapse" class="collapse">
								<div class="card-body">
									<div class="form-check">
									  	<input class="form-check-input" type="radio" checked>
									  	<label class="form-check-label" for="sits">
									    	Όλα
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="sits" value="2doors">
									  	<label class="form-check-label" for="sits">
									    	0 - 3
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="sits" value="4doors">
									  	<label class="form-check-label" for="sits">
									    	4 - 5
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="sits" value="6doors">
									  	<label class="form-check-label" for="sits">
									    	6 - 7
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="sits" value="6doors">
									  	<label class="form-check-label" for="sits">
									    	8 - 9
									  	</label>
									</div>
									<div class="form-check">
									  	<input class="form-check-input" type="radio" name="sits" value="6doors">
									  	<label class="form-check-label" for="sits">
									    	Άγνωστο
									  	</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a data-toggle="collapse" href="#featuresCollapse" aria-expanded="false" aria-controls="featuresCollapse">
									Χαρακτηριστικά
								</a>
							</div>
							<div id="featuresCollapse" class="collapse">
								<div class="card-body">
									<script>
										$(() => {
											$.ajax({
												url: "/features",
												success: (features) => {
													features.forEach((feature) => {
														let input = $('<div class="form-check"><input name="category" type="checkbox" value="'+ feature.name +'" class="form-check-input"/><label class="form-check-label">' + feature.name + '</label></div>');
														
														$('#featuresCollapse').find('.card-body').append(input);
													});
												}
											});
										});
									</script>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-9">
					<div class="row mb-2">
						<div class="col-lg-9">
							<h2>Βρέθηκαν <th:block th:text="${page.totalElements}"></th:block> αποτελέσματα</h2>
							<div id="filters"></div>
						</div>
						<div class="col-lg-3">
							<label for="sort">Ταξινόμηση κατά:</label>
							<select id="sort" name="sort" class="form-control" form="criteria">
							  	<option selected value="price">Νεότερα</option>
							  	<option value="price">Τιμή (Φτηνότερα προς Ακριβώτερα)</option>
							  	<option value="price,desc">Τιμή (Ακριβώτερα προς Φτηνότερα)</option>
							</select>
						</div>
					</div>
					<div id="ads">
						<div class="alert alert-primary text-center" role="alert" th:if="${partitions.empty}">
							Δεν βρέθηκαν αποτελέσματα με τα κριτήρια που επιλέξατε, παρακαλούμε αλλάξτε την αναζήτηση σας.
						</div>
						<div class="row mb-2" th:each="partition: ${partitions}">
						    <div class="col-lg-3" th:each="ad: ${partition.ads}">
						    	<th:block th:insert="ad-card (ad=${ad})"/>
							</div>
						</div>
					</div>
					<nav aria-label="Pagination" th:if="${page.totalPages > 0}">
					    <ul class="pagination justify-content-end">
					        <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
					            <button class="page-link" th:onclick="|onChangePage('${page.number - 1}')|" aria-label="Previous" title="Προηγούμενη Σελίδα" data-toggle="tooltip">
					                <span aria-hidden="true">&laquo;</span>
					            </button>
					        </li>
					        <!-- TODO: Render only like 3 pages and first and last -->
					        <li class="page-item" th:classappend="${i eq page.number + 1} ? 'active'" th:each="i : ${#numbers.sequence(1, page.totalPages, 1)}">
					            <button class="page-link" th:onclick="|onChangePage('${i-1}')|" th:text="${i}" th:title="${'Σελίδα ' + i}" data-toggle="tooltip"></button>
					        </li>
					        <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled'">
					            <button class="page-link" th:onclick="|onChangePage('${page.number + 1}')|" aria-label="Next" title="Επόμενη Σελίδα" data-toggle="tooltip">
					                <span aria-hidden="true">&raquo;</span>
					            </button>
					        </li>
					    </ul>
					</nav>
				</div>
			</div>
		</div>
		<th:block th:insert="footer"/>
	</body>
</html>