<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">
				    <img th:src="@{/car_logo.png}" width="50" height="30" class="d-inline-block align-top" alt="">
				    Car Trader
				</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				    	<li class="nav-item" th:classappend="${#request.requestURI eq '/ads'} ? active">
				        	<a class="nav-link" th:href="@{/ads}" th:text="#{ads}"></a>
					    </li>
					    <li class="nav-item" th:classappend="${#request.requestURI eq '/ads/search'} ? active">
					    	<a class="nav-link" th:href="@{/ads/search}" th:text="#{search}"></a>
					    </li>
					    <li class="nav-item" th:classappend="${#request.requestURI eq '/ads/submit'} ? active">
					        <a class="nav-link" th:href="@{/ads/submit}" th:text="#{submit}"></a>
					    </li>
					    <li class="nav-item" th:classappend="${#request.requestURI eq '/info'} ? active">
					        <a class="nav-link disabled" href="@{/info}" th:text="#{info}"></a>
					    </li>
				    </ul>
				    <ul class="nav navbar-nav navbar-right">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        	<img width="25" height="25" th:src="@{'/icons/' + ${#locale.toString()} + '.svg'}">
					        </a>
					        <div class="dropdown-menu" style="min-width: 15rem" aria-labelledby="navbarDropdown">
								<form id="locale" class="px-4 py-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="lang" value="el_GR" th:checked="${#locale.toString()} == 'el_GR'">
										<label class="form-check-label" for="lang"><img width="25" height="25" th:src="@{'/icons/el_GR.svg'}"> Ελληνικά (GR)</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="lang" value="en" th:checked="${#locale.toString()} == 'en'">
										<label class="form-check-label" for="lang"><img width="25" height="25" th:src="@{'/icons/en.svg'}"> English (EN)</label>
									</div>
								</form>
					        </div>
				    	</li>
				    	<li class="nav-item" sec:authorize="!isAuthenticated()">
				    		<a class="nav-link" id="loginDropdown" role="button" data-toggle="modal" data-target="#exampleModal">
				    			<span class="fa fa-sign-in"></span> <span th:text="#{login}"></span>
				    		</a>
				 			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div id="login-modal" class="modal-dialog" role="document">
								    <div class="modal-content">
								    	<div class="modal-header" style="border-bottom: none;">
									    	<h5 class="modal-title w-100 text-center" th:text="#{loginToCartrader}"></h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          	<span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									    	<ul class="nav nav-tabs nav-fill" role="tablist">
									    		<li class="nav-item">
											    	<a class="nav-link active" href="#login" data-toggle="tab" aria-controls="login" aria-selected="true" th:text="#{login}"></a>
											    </li>
											    <li class="nav-item">
											    	<a class="nav-link" href="#register" data-toggle="tab" aria-controls="register" aria-selected="false" th:text="#{register}"></a>
											    </li>
									    	</ul>
									    	<div class="tab-content mt-3">
											  	<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login">
								 					<div th:if="${param.error}" class="alert alert-danger mt-3" role="alert" th:text="#{login.error}"></div>
													<form th:action="@{/login}" method="POST">
														<div class="form-group form-group-lg">
															<label for="username" th:text="#{username}"></label>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
															    	<span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-envelope"></i></span>									  
															 	</div>
															 	<input th:classappend="${param.error} ? 'is-invalid'" class="form-control" type="text" name="username" id="username" th:placeholder="#{usernamePlaceholder}" required>
															</div>
														</div>
														<div class="form-group form-group-lg">
															<label for="password" th:text="#{password}"></label>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
															    	<span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-lock"></i></span>									  
															 	</div>
																<input th:classappend="${param.error} ? 'is-invalid'" class="form-control" type="password" name="password" id="password" th:placeholder="#{passwordPlaceholder}" required>
															</div>
															<div class="text-right">
																<a class="forgot text-muted" th:href="@{/recovery}" th:text="#{forgotPassword}"></a>
															</div>
														</div>
														<div class="form-group form-group-lg">
															<button class="btn btn-lg btn-primary" style="width: 100%" type="submit" th:text="#{login}"></button>
														</div>
													</form>
											  	</div>
											  	<div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
											  		<div th:if="${success}" class="alert alert-success mt-3" role="alert" th:text="#{login.error}"></div>
													<form th:action="@{/signup}" th:object="${signupForm}" method="POST">
														<div class="form-group form-group-lg">
															<label for="username" th:text="#{username}"></label>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
															    	<span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-envelope"></i></span>		  
															 	</div>
															 	<input th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" class="form-control" type="text" th:placeholder="#{usernamePlaceholder}" required>
															 	<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
															</div>
														</div>
														<div class="form-group form-group-lg">
															<label for="password" th:text="#{password}"></label>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
															    	<span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-lock"></i></span>									  
															 	</div>
																<input th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" class="form-control" type="password" th:placeholder="#{passwordPlaceholder}" required>
																<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
															</div>
														</div>
														<div class="form-group form-group-lg">
															<label for="confirmPassword" th:text="#{password}"></label>
															<div class="input-group mb-3">
																<div class="input-group-prepend">
															    	<span class="input-group-text bg-white" id="basic-addon1"><i class="fa fa-lock"></i></span>	  
															 	</div>
																<input th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'" class="form-control" type="password" th:placeholder="#{passwordPlaceholder}" required>
																<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="invalid-feedback"></div>
															</div>
														</div>
														<div class="form-group form-group-lg">
															<button class="btn btn-lg btn-primary" style="width: 100%" type="submit" th:text="#{register}"></button>
														</div>
													</form>
											  	</div>
											</div>
							        	</div>
							        </div>
						        </div>
					        </div>
				    	</li>
				    	<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
				    		<a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			<span class="fa fa-user-circle"></span> <span sec:authentication="name">Bob</span>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="loginDropdown">
				    			<form th:action="@{/logout}" method="POST">
				    				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				    				<button class="dropdown-item" type="submit">Logout</button>
				    			</form>
				    		</div>
				    	</li>
				    </ul>
					<script th:inline="javascript">
						// Hacky solution but hey it works

					    /*<![CDATA[*/
					    let success = /*[[${success}]]*/ false;
					    let signupFailure = /*[[${#fields.hasErrors('${signupForm.*}')}]]*/ false;
					    let error = /*[[${param.error}]]*/ false;
					    $(() => {
						    if (error || success || signupFailure) {
						    	$('#exampleModal').modal('show');
						    	if (success || signupFailure) {
									$('.nav-tabs a[href="#register"]').tab('show');
						    	}
							}
						});
					 	/*]]>*/
					</script> 
					<script>
						$(() => {
							$('input[name=lang]').on('change', () => {
								$('#locale').submit();
							})
						});
					</script>
				</div>
			</div>
		</nav>
	</body>
</html>